{extend name="admin@public/layout" /}
{block name='main'}
<div class="layui-tab">
    <div class="layui-tab-content">
        <div class="demoTable">
            <div class="layui-inline">
                <span>选择项目：</span>
                <div class="layui-inline">
                    <select name="project_list" class="layui-select">
                        <option value="0">选择项目</option>
                        {foreach name='project_list' item='item' key='key' }
                        <option value="{$item['id']}">{$item['project_title']}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <button class="layui-btn" lay-event="search" id="search">立即提交</button>
        </div>

        <table class="layui-hide" id="test" lay-filter="test"></table>
    </div>
</div>


<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit" >编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
</script>

{/block}
{block name='script'}
<script>
    var url = '{:admin_url("simplebook/projectmenu/index")}';
    var addurl = '{:admin_url("simplebook/projectmenu/add")}';
    var editurl = '{:admin_url("simplebook/projectmenu/edit")}';
    var delurl = '{:admin_url("simplebook/projectmenu/del")}';
    layui.use('table', function(){
        var table = layui.table
            ,form = layui.form
            ,$ = layui.$

        table.render({
            elem: '#test'
            ,url:url
            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar:[]
            ,autoSort: false //禁用前端自动排序。
            ,cols: [[
                ,{field:'id',  title: '菜单id',hide:true}
                ,{field:'menu_title',  title: '菜单名称'}
                ,{field:'project_title',  title: '所属项目'}
                ,{field:'price',  title: '基本价格'}
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo', minWidth:50}
            ]]
            ,page: true
        });


        //触发排序事件
        table.on('sort(test)', function(obj){ //注：sort 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            console.log(obj.field); //当前排序的字段名
            console.log(obj.type); //当前排序类型：desc（降序）、asc（升序）、null（空对象，默认排序）
            console.log(this); //当前排序的 th 对象

            //尽管我们的 table 自带排序功能，但并没有请求服务端。
            //有些时候，你可能需要根据当前排序的字段，重新向服务端发送请求，从而实现服务端排序，如：
            table.reload('test', {
                initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。
                ,where: { //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
                    field: obj.field //排序字段
                    ,order: obj.type //排序方式
                }
            });

            //layer.msg('服务端排序。order by '+ obj.field + ' ' + obj.type);
        });

        //监听行工具事件
        //工具条事件
        table.on('toolbar(test)', function(obj){
            var layEvent = obj.event;

            if (layEvent === 'add') {

                window.location.href=addurl;
            }
        });

        $("#search").click(function(){
            var project_id = $("select[name='project_list']").val();

            table.reload('test', {
                where: { //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
                    project_id: project_id
                }
            });
        });

        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

            if(layEvent === 'del'){ //删除
                layer.confirm('真的删除么？', function(index){
                    y_utils.request_url({
                        url:delurl,
                        param:{id:data.id},
                        success:function (da) {
                            if (da.code ==1){
                                obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                return    y_utils.msg(da.msg);
                            }
                            return y_utils.msg(da.msg);
                        }
                    })
                    //window.location.href='/adminuser/del.html';
                });
            }else if(layEvent == 'edit'){
                window.location.href=editurl+'?id='+data.id;
            }
        });

    });
</script>

{/block}