{extend name='public/layout' /}
{block name='main'}
<div class="layui-tab">
    <div class="layui-tab-content">
        <table class="layui-hide" id="test" lay-filter="test"></table>
    </div>
</div>

<script type="text/html" id="checkboxTpl">
    <!-- 这里的 checked 的状态只是演示 -->
    <input type="checkbox" moduleid={{d.module_name}}  name="status" value="{{d.status}}" title="启用" lay-filter="lockDemo" {{ d.status == 1 ? 'checked' : '' }}>
</script>
<script type="text/html" id="barDemo">
    <!--  <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a> -->
    {{# if(d.install == 1){ }}
    <a class="layui-btn layui-btn-danger layui-btn-xs"   lay-event="del">卸载</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs"   lay-event="detail">查看</a>
    {{# }else{ }}
    <a class="layui-btn layui-btn-danger layui-btn-xs"   lay-event="add">安装</a>
    {{#  }  }}
</script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
    </div>
</script>
{/block}
{block name='script'}
<script>
    var url = '{:admin_url("admin/module/index")}';
    var delurl = '{:admin_url("admin/module/uninstall")}';
    var addurl = '{:admin_url("admin/module/install")}';
    var statusurl = '{:admin_url("admin/module/status")}';
    var addadurl = '{:admin_url("admin/module/add")}';
    var moduleurl = '/admin.php';
    layui.use('table', function(){
        var table = layui.table
            ,form = layui.form;;

        table.render({
            elem: '#test'
            ,page:false
            ,url:url
            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar:[]
            ,cols: [[
                ,{field:'id',  title: '模块id',hide:true}
                ,{field:'module_title',  title: '模块名称'}
                ,{field:'module_name',  title: '模块标识'}
                ,{field:'author',  title: '开发者'}
                ,{field:'des', title: '描述'}
                ,{field:'status', title: '是否启用',templet: '#checkboxTpl', unresize: true/* , width: '30%', minWidth: 80 */} //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo', minWidth:50}
            ]]

        });

        //监听行工具事件
        //工具条事件
        table.on('toolbar(test)', function(obj){
            var layEvent = obj.event;
            if (layEvent === 'add') {

                window.location.href=addadurl;
            }
        });

        //工具条事件
        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
            if(layEvent === 'del'){ //删除
                layer.confirm('真的卸载么，卸载后该模块数据会清空？', function(index){
                    y_utils.request_url({
                        url:delurl+'?module_name='+data.module_name,
                        success:function(da){
                            if(da.code == 1){
                                return y_utils.successMsg(da.msg,function(){history.go(0)});
                            }
                            return y_utils.errorMsg(da.msg)
                        }
                    });

                });
            }else if(layEvent === 'add'){
                y_utils.request_url({
                    url:addurl+'?module_name='+data.module_name,
                    success:function(da){
                        if(da.code == 1){
                            return y_utils.successMsg(da.msg,function(){history.go(0)});
                        }
                        return y_utils.errorMsg(da.msg)
                    }
                });

            }else if(layEvent === 'detail'){
                window.location.href=moduleurl+'/'+data.module_name+'/index/index';
            }
        });

        //监听锁定操作
        form.on('checkbox(lockDemo)', function(obj){

            y_utils.request_url({
                url:statusurl,
                param:{module_name:this.getAttribute("moduleid")},
                success:function(da) {
                    if(da.code == 1){
                    return    y_utils.successMsg(da.msg,function(){history.go(0)});
                    }

                      y_utils.errorMsg(da.msg);return false;
                }
            })
            //layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
        });
    });
</script>
{/block}