{extend name="public/layout" /}
{block name="main"}
			<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
			    <legend>填写</legend>
			  </fieldset>

			  <div class="layui-tab-content">
			    <form class="layui-form" action="">
			      <div class="layui-form-item">
			        <label class="layui-form-label">*配置名称</label>
			        <div class="layui-input-inline">
			          <input type="text" name="name" lay-verify="required|name" autocomplete="off" placeholder="请输入配置名称" class="layui-input">
			        </div>
					<div class="layui-form-mid layui-word-aux">格式为英文，下划线 ，数字</div>
			      </div>
			      <div class="layui-form-item">
			        <label class="layui-form-label">*配置标题</label>
			        <div class="layui-input-inline">
			          <input type="text" name="title" lay-verify="required"  placeholder="请输入配置标题" autocomplete="off" class="layui-input">
			        </div>
			      </div>
			      
				  <div class="layui-form-item layui-form-text">
				      <label class="layui-form-label">配置描述</label>
				      <div class="layui-input-block">
				        <textarea placeholder="请输入内容" name="des" class="layui-textarea"></textarea>
				      </div>
				    </div>
				  
				  
				  <div class="layui-form-item">
				    <label class="layui-form-label">*配置类型</label>
				    <div class="layui-input-inline">
				      <select name="type_id" lay-verify="required" >
						  {foreach name='configTypes' item="item" key='key'}
				        <option value="{$key}">{$item}</option>
				     		{/foreach}
				      </select>
				    </div>
				  </div>
				  
				  
				  <div class="layui-form-item">
				    <label class="layui-form-label">*字符类型</label>
				    <div class="layui-input-inline">
				      <select name="form_type">
						  {foreach name='form_type' item='it' key = 'k'}
				        <option value="{$k}" >{$it}</option>
						{/foreach}
				      </select>
				    </div>
					<div class="layui-form-mid layui-word-aux">文本为普通文本，编辑框为可编辑文本，枚举为单选框，数组为选择框</div>
				  </div>
			    
			      
				  <div class="layui-form-item">
				    <label class="layui-form-label">配置默认值</label>
				    <div class="layui-input-inline">
				      <input type="text" name="default_val" autocomplete="off" placeholder="请输入配置默认值" class="layui-input">
					</div>
					<div class="layui-form-mid layui-word-aux">如果没有改动，按照默认值提交</div>
				  </div>
				  
				  <div class="layui-form-item layui-form-text">
				      <label class="layui-form-label">配置项</label>
				      <div class="layui-input-inline">
				        <textarea placeholder="请输入配置项" name="config_item" class="layui-textarea"></textarea>
				      </div>
					  <div class="layui-form-mid layui-word-aux">枚举或数组需要设置,格式为“值|项”，例如<br/>1|启动<br/>2|关闭</div>
				  </div>
				  
				  <div class="layui-form-item">
				    <label class="layui-form-label">排序</label>
				    <div class="layui-input-inline">
				      <input type="text" name="sort"  autocomplete="off" placeholder="排序" class="layui-input">
				    </div>
				  	<div class="layui-form-mid layui-word-aux">数字越大，越靠前</div>
				  </div>
				  

			      <div class="layui-form-item">
			        <div class="layui-input-block">
			          <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
			          <button type="reset" class="layui-btn layui-btn-primary">重置</button>
			        </div>
			      </div>
			    </form>
			  </div>
			
		{/block}
{block name="script"}
<script>
	var addurl = '{:admin_url("admin/setting/add")}';
layui.use(['form', 'layedit', 'laydate'], function(){
  var form = layui.form
  ,layer = layui.layer
  ,layedit = layui.layedit
  ,laydate = layui.laydate;
  
  
  //创建一个编辑器
  var editIndex = layedit.build('LAY_demo_editor');
 
  //自定义验证规则
  form.verify({
    name:[
		/^[A-Za-z0-9_]+$/,
		'配置名称必须是英文，下划线，数字'
	]
    ,content: function(value){
      layedit.sync(editIndex);
    }
  });
  
  //监听指定开关
  form.on('switch(switchTest)', function(data){
    // layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
    //   offset: '6px'
    // });
    // layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
  });
  
  //监听提交
  form.on('submit(demo1)', function(data){
    // layer.alert(JSON.stringify(data.field), {
    //   title: '最终的提交信息'
    // })
	  y_utils.request_url({
		  url:addurl,
		  param:data.field,
		  success:function(data){
		  	if(data.code == 1){
		  		layer.alert(data.msg,function(){
		  			window.location.href=data.url;
				})
			}else{
		  		layer.alert(data.msg);
			}
		  }
	  })
    return false;
  });

  
});
</script>
{/block}